<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	
	xsi:schemaLocation="http://www.springframework.org/schema/aop
	 http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
	  http://www.springframework.org/schema/beans 
	  http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean id="requestManager_v1" class="com.spring.solution1.RequestManager_v1">
       
	</bean>
  
	<bean id="requestHandler_v1" class="com.spring.solution1.RequestHandler_v1" scope="prototype"/>
		
	</beans>