<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean id="employee1" class="com.spring.Employee">
		<property name="employeeNo" value="20"/>
		<property name="employeeName" value="Shareef"/>
		<property name="email" value="Sha@gmail.com"/>
		<property name="salary" value="2321.2132"/>
	</bean>

</beans>
	
	